<% if (isAuthenticated) { %>
<form action="/cart" method="post" class="product-form">
    <button class="btn" type="submit">Add To Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>
<% } %>