<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<main>
    <div>
        <h1>
            Welcome to our online shop! Visit our products page to see our list of products.
        </h1>
    </div>
</main>
<%- include('../includes/end.ejs') %>